@page "/allcards"
@using Crazor.Blazor.Components

@inject CardAppFactory CardAppFactory

<PageTitle>All Cards</PageTitle>

<div style="display: flex; flex-wrap:wrap;padding:10px'">
@foreach (var cardAppType in CardAppFactory.GetNames().OrderBy(n => n))
{
    <div style="padding:10px">
        <CardViewer Route="@($"/Cards/{cardAppType.Replace("App", String.Empty)}")" />
    </div>
}

</div>