@page "/allcards"
@using Crazor.Blazor.Components

@inject CardAppFactory CardAppFactory

<PageTitle>All Cards</PageTitle>
<div class="container-fluid">
    <div class="row">
        @foreach (var column in Columns)
        {
            <div class="column">
                @foreach (var cardAppType in column)
                {
                    <CardViewer Route="@($"/Cards/{cardAppType.Replace("App", String.Empty)}")" />
                }
            </div>
        }
    </div>
</div>
@code
{
    List<List<string>> Columns { get; set; } = new List<List<string>>()
    {
        new List<string>(),
        new List<string>(),
        new List<string>(),
   };

    protected override void OnInitialized()
    {
        int x = 0;
        foreach (var item in CardAppFactory.GetNames())
        {
            Columns[x++ % 3].Add(item);
        }
    }
}