@using CrazorDemoBot.Cards.Wordle
@inherits CardView<WordleApp>

<Card Version="1.5">
    <Refresh/>

    <TextBlock Size="Large" Style="Heading">Wordle Results!</TextBlock>
    <Table GridStyle="Accent" ShowGridLines="false" FirstRowAsHeaders="false">
        <TableColumn Width="1" />
        <TableColumn Width="1" />
        <TableColumn Width="1" />
        <TableColumn Width="1" />
        <TableColumn Width="1" />
        @for (int iGuess = 0; iGuess < App.Guesses.Count; iGuess++)
        {
            <TableRow HorizontalCellContentAlignment="Center" VerticalCellContentAlignment="Center">
                @foreach (var letter in App.Guesses[iGuess].Letters)
                {
                    <TableCell Style="@letter.State"><TextBlock Size="ExtraLarge" Weight="Bolder">``` ```</TextBlock></TableCell>
                }
            </TableRow>
        }

        @for (int guessLeft = App.Guesses.Count; guessLeft < 6; guessLeft++)
        {
            <TableRow HorizontalCellContentAlignment="Center" VerticalCellContentAlignment="Center">
                <TableCell Style="Emphasis"><TextBlock Weight="Bolder" Size="ExtraLarge">``` ```</TextBlock></TableCell>
                <TableCell Style="Emphasis"><TextBlock Weight="Bolder" Size="ExtraLarge">``` ```</TextBlock></TableCell>
                <TableCell Style="Emphasis"><TextBlock Weight="Bolder" Size="ExtraLarge">``` ```</TextBlock></TableCell>
                <TableCell Style="Emphasis"><TextBlock Weight="Bolder" Size="ExtraLarge">``` ```</TextBlock></TableCell>
                <TableCell Style="Emphasis"><TextBlock Weight="Bolder" Size="ExtraLarge">``` ```</TextBlock></TableCell>
            </TableRow>
        }
    </Table>
</Card>

