@page
@using Crazor
@using System.Reflection
@inject CardAppFactory cardAppFactory
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (Model.HostUri.Host.Contains("ngrok"))
{
    <h1><a href="@Model.HostUri.AbsoluteUri">Host</a></h1>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>Cards</h2>
<ul>
    @foreach (var cardAppType in cardAppFactory.GetNames().OrderBy(n => n))
    {
        var appName = cardAppType.Replace("App", String.Empty);
        <li><a href="/Cards/@appName">@appName Card</a></li>
    }
</ul>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>
