@page
@using Crazor
@using System.Reflection
@using Neleus.DependencyInjection.Extensions
@inject CardAppFactory cardAppFactory
@inject IConfiguration configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    var hostUri = configuration.GetValue<Uri>("HostUri");
}
@if (hostUri.Host.Contains("ngrok"))
{
    <h1><a href="@hostUri.AbsoluteUri">Host</a></h1>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>Cards</h2>
<ul>
    @foreach (var cardAppType in cardAppFactory.GetNames().OrderBy(n => n))
    {
        var appName = cardAppType.Replace("App", String.Empty);
        <li><a href="/Cards/@appName">@appName Card</a></li>
    }
</ul>
