@page
@using Crazor
@using System.Reflection
@using Neleus.DependencyInjection.Extensions
@inject CardAppFactory cardAppFactory
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>Cards</h2>
<ul>
    @foreach (var cardAppType in cardAppFactory.GetNames())
    {
        var appName = cardAppType.Replace("App", String.Empty);
        <li><a href="/Cards/@appName">@appName Card</a></li>
    }
</ul>
